<%= form_for(@discipline) do |f| %>
  <% if @discipline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discipline.errors.count, "error") %> prohibited this discipline from being saved:</h2>

      <ul>
      <% @discipline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Incident %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :student %><br>
    <%#= f.text_field :student %>
    <%= f.select :student_id, Student.all.map {|s| [s.surname, s.id]} %>
    <%= f.select :student_id, Student.all.map {|s| [s.last_name, s.id]} %>
  </div>
  <div class="field">
    <%= f.label :adm_no %><br>
    <%= f.select :student_id, Student.all.map {|s| [s.adm_no, s.id]} %>
  </div>
  <div class="field">
    <%= f.label :form %><br>
    <!-- not yet -->
    <%#= f.select :student_id, Student.all.map {|s| [s.classroom_id, s.id]} %>
    <%#= f.select :student_id, Student.all.map {|s| [s.stream_id, s.id]} %>
  </div>
  
  <div class="field">
    <%= f.label :reported_date %><br>
    <%= f.date_select :reported_date %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_field :details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
