<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col-lg-6">
    
    <p>
      <strong>Surname:</strong>
      <%= @student.surname %>
    </p>
    
    <p>
      <strong>First name:</strong>
      <%= @student.first_name %>
    </p>
    
    <p>
      <strong>Last name:</strong>
      <%= @student.last_name %>
    </p>
    
    <p>
      <strong>Surname:</strong>
      <%= @student.adm_no %>
    </p>
    
    <p>
      <strong>Gender:</strong>
      <%= @student.gender %>
    </p>
    
    <p>
      <strong>Dob:</strong>
      <%= @student.dob %>
    </p>
    
    <p>
      <strong>Nationality:</strong>
      <%= @student.nationality %>
    </p>
  </div><!-- /column 1 -->
  
  <div class="col-lg-6">
    <% for contact in @student.contacts %>
      <p>
        <strong>Father:</strong>
        <%= contact.father %>
      </p>
      <p>
        <strong>Mother:</strong>
        <%= contact.mother %>
      </p>
      <p>
        <strong>Guardian:</strong>
        <%= contact.guardian %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= contact.email %>
      </p>
      <p>
        <strong>Address:</strong>
        <%= contact.address %>
      </p>
      <p>
        <strong>Phone:</strong>
        <%= contact.phone %>
      </p>
      <p>
        <strong>Private Phone:</strong>
        <%= contact.private_number %>
      </p>
      <p>
        <strong>County:</strong>
        <%= contact.county %>
      </p>
      <p>
        <strong>Country:</strong>
        <%= contact.country %>
      </p>
      
    <% end %>
  </div><!-- /column 2-->
  
  <div class="col-lg-12">
    <%= link_to 'Edit', edit_student_path(@student) %> |
    <%= link_to 'Back', students_path %>
  </div>
</div>