<p id="notice"><%= notice %></p>
<%= link_to 'Create Exam', new_exam_management_path %>
<h4>Listing Exams </h4><!-- List exam name here -->

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exam_managements.each do |exam_management| %>
      <tr>
        <td><%= link_to 'Show', exam_management %></td>
        <td><%= link_to 'Edit', edit_exam_management_path(exam_management) %></td>
        <td><%= link_to 'Destroy', exam_management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<h1>Experiment Section Ends Here </h1>


<div class="col-lg-8">
  <h3>Form <span>1</span> Term <span>2</span></h3>
  <h4>Midterm Exams</h4>
  <div class="row">
      <div class="col-lg-8">
          <h5>A total of <span>89</span> Students were examined </h5>  
      </div>
      <div class="col-lg-4">
          <button type="button" class="btn btn-success btn-xs disabled">See The Performance Chart</button>
      </div>
  </div>
           
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th >Adm No</th>
        <th class="sname">Student Name</th>
        <th >Stream</th>
        <th >English</th>
        <th >Kiswahili</th>
        <th >Math</th>
        <th >Biology</th>
        <th >Chemistry</th>
        <th >Physics</th>
        <th >History</th>
        <th >Geography</th>
        <th >Etc</th>
        <th >Points</th>
        <th >Prev Exam</th>
        <th >Grade</th>
        <th >Strm Pos</th>
        <th >Class Pos</th>
        <th > Pos Change</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>1234</td>
        <td>Doe John Steve</td>
        <td>Yellow</td>
        <td>45 C</td>
        <td>80 A-</td>
        <td>45 C</td>
        <td>78 A-</td>
        <td>45 C</td>
        <td>55 C+</td>
        <td>45 C</td>
        <td>74 B+</td>
        <td></td>
        <td>7</td>
        <td>0.5</td>
        <td>B-</td>
        <td>1/47</td>
        <td>1</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
  
  
  
  
  
  <!-- for the class register-->
  <h1>Register Format</h1>
  <table class="table table-header-rotated">
  <thead>
    <tr>
      <!-- First column header is not rotated -->
      <th></th>
      <!-- Following headers are rotated -->
      <th ><div><span>Column header 1</span></div></th>
        <th ><div><span>Column header 2</span></div></th>
        <th ><div><span>Column header 3</span></div></th>
        <th ><div><span>Column header 4</span></div></th>
        <th ><div><span>Column header 5</span></div></th>
        <th ><div><span>Column header 6</span></div></th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <th class="row-header">Row header 1</th>
      <td><input checked="checked" name="column1[]" type="radio" value="row1-column1"></td>
      <td><input checked="checked" name="column2[]" type="radio" value="row1-column2"></td>
      <td><input name="column3[]" type="radio" value="row1-column3"></td>
      <td><input name="column4[]" type="radio" value="row1-column4"></td>
      <td><input name="column5[]" type="radio" value="row1-column5"></td>
      <td><input name="column6[]" type="radio" value="row1-column6"></td>
    </tr>
    <tr>
      <th class="row-header">Row header 2</th>
      <td><input name="column1[]" type="radio" value="row2-column1"></td>
      <td><input name="column2[]" type="radio" value="row2-column2"></td>
      <td><input checked="checked" name="column3[]" type="radio" value="row2-column3"></td>
      <td><input checked="checked" name="column4[]" type="radio" value="row2-column4"></td>
      <td><input name="column5[]" type="radio" value="row2-column5"></td>
      <td><input name="column6[]" type="radio" value="row2-column6"></td>
    </tr>
    <tr>
      <th class="row-header">Row header 3</th>
      <td><input name="column1[]" type="radio" value="row3-column1"></td>
      <td><input name="column2[]" type="radio" value="row3-column2"></td>
      <td><input name="column3[]" type="radio" value="row3-column3"></td>
      <td><input name="column4[]" type="radio" value="row3-column4"></td>
      <td><input checked="checked" name="column5[]" type="radio" value="row3-column5"></td>
      <td><input checked="checked" name="column6[]" type="radio" value="row3-column6"></td>
    </tr>
  </tbody>
</table>
</div>
