<%= form_for(@book_status) do |f| %>
  <% if @book_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_status.errors.count, "error") %> prohibited this book_status from being saved:</h2>

      <ul>
      <% @book_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
