<p id="notice"><%= notice %></p>
<p>
  <strong>Term:</strong>
  <%= @exam.term.name %>
</p>
<p>
  <strong>Exam:</strong>
  <%= @exam.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @exam.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @exam.end_date %>
</p>

<p>
  <strong>Passmark:</strong>
  <%= @exam.passmark %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
